es-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/es_core_news_lg-3.4.0/es_core_news_lg-3.4.0-py3-none-any.whl
fastapi==0.85.1
pydantic==1.9.1
spacy==3.4.1
uvicorn==0.18.3
